.article {
    border: 1px solid rgb(72, 143, 209);
    background-color: aliceblue;
    border-radius: 1em;
    box-shadow: 0.3em 0.5em 1em rgba(72, 143, 209, 0.719);
    padding: 1ch 1ch;

    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0.5em;
    grid-template-areas: "a b"
        "c c";

    h3,
    p {
        margin: 0;
    }

    >.content {
        grid-area: c;
    }

}
